@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
body {
  background: #f7f7f7;
  color: #4a4a4a; }

a {
  color: #55b3ad; }

.btn.btn-create {
  background: #55b3ad;
  border: none;
  padding: 0 30px;
  height: 44px;
  font-size: 14px; }
  .btn.btn-create:hover {
    background: #78c3be; }

#body {
  background: #f7f7f7;
  padding: 160px 20px 80px;
  margin: 0; }
  #body .container {
    padding: 40px;
    background: #fff;
    background-color: #fff;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
    border-radius: 3px; }

#section-nav {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
  overflow: hidden; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  height: 80px;
  line-height: 80px; }
  #header .navbar-brand {
    color: #6a6a6a;
    padding: 0 15px;
    margin-right: 20px;
    line-height: 80px; }
    #header .navbar-brand img {
      margin-right: 10px;
      margin-bottom: 5px; }
    #header .navbar-brand small {
      font-size: 14px;
      font-weight: bold; }
    #header .navbar-brand:hover {
      color: #6a6a6a; }
  #header .navbar-nav > li:focus, #header .navbar-nav > li > a:focus {
    color: #111D2D;
    background-color: transparent; }
  #header .navbar-nav > li > a {
    display: block;
    color: #111D2D;
    padding: 0 16px 0 16px;
    height: 80px;
    line-height: 80px; }
    #header .navbar-nav > li > a:hover {
      color: #111D2D; }
  #header .navbar-nav > .active > a, #header #header .navbar-nav > .active > a:hover, #header #header .navbar-nav > .active > a:focus {
    background: transparent !important;
    box-shadow: none !important;
    color: #55b3ad;
    border-bottom: 2px solid #55b3ad; }
    #header .navbar-nav > .active > a:hover, #header #header .navbar-nav > .active > a:hover:hover, #header #header .navbar-nav > .active > a:focus:hover {
      color: #55b3ad; }

.keystone-lists h4 {
  text-transform: uppercase;
  font-size: 16px;
  color: rgba(17, 29, 45, 0.8);
  margin-bottom: 24px; }

.nav-section li {
  font-size: 1.8em;
  margin-bottom: .66em;
  display: inline-block;
  border: 1px solid #ddd;
  background-color: #fff;
  color: rgba(17, 29, 45, 0.8);
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  font-size: 16px;
  margin: -3px 20px 20px 0;
  border-radius: 3px;
  transform: translateY(3px);
  transition: all 400ms cubic-bezier(0.48, 0, 0.3, 1.18); }
  .nav-section li:hover {
    transform: none;
    border-color: #111D2D;
    color: #111D2D; }
  .nav-section li a {
    display: block;
    color: rgba(17, 29, 45, 0.8); }
    .nav-section li a:hover {
      color: #111D2D;
      text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans"; }

.page-header h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #111D2D; }

.items-list thead > tr > th {
  border-bottom: 1px solid #ddd;
  color: #111D2D;
  font-weight: bold; }

.items-list tbody tr td {
  padding: 12px 0; }

.items-list tbody a {
  color: #4a4a4a; }

.searchbox-field > input {
  height: 44px;
  -webkit-appearance: none; }

.searchbox-button > .btn {
  height: 44px; }

.list-toolbar .btn {
  height: 44px; }
