extends ../layouts/default-without-header

block opengraph
	//- meta(property='fb:app_id', content='138566025676')
	title= title || '奧革設計 | 創業團隊的設計夥伴'
	meta(name="description", content="奧革設計是一家使用者介面設計及使用者經驗諮詢公司，我們擅長透過設計新思維創造最好的產品體驗。")
	meta(name="keywords", content="使用者經驗設計,網頁設計,新創")
	meta(property='og:site_name', content='奧革設計 | 創業團隊的設計夥伴')
	meta(property='og:type', content='website')
	meta(property='og:url', content='')
	meta(property='og:title', content='奧革設計 | 創業團隊的設計夥伴')
	meta(property='og:description', content='奧革設計是一家使用者介面設計及使用者經驗諮詢公司，我們擅長透過設計新思維創造最好的產品體驗。')
	meta(property='og:image', content='/images/fb-cover.jpg')
	meta(property='og:locale', content='zh_TW')
	base(href="/#")

block content
	#about
		.launch-screen
			.video-container
				video.video(autoplay="", loop="", muted="")
					source(src="landing.mp4", type="video/mp4")
					source(src="landing.webm", type="video/webm")
			.slogan
				h2 專注產品體驗、創造商業價值
				p 奧革設計是一家<strong>使用者介面設計</strong>及<strong>使用者經驗諮詢</strong>的設計公司，<br> 我們擅長透過產品思維創造美好的產品體驗。
			.aniWrap
				.mouse
					.scroller
	#services
		.feature-section
			.container.feature-content.row
				h2.feature-title 服務項目
				p 從使用者需求出發，創造最好的產品體驗！
				.row.clear.services
					.service.col-md-3
						.thumb(style='background-image: url(images/features/1.svg)')
						h4.title 網頁設計
						p.descript 建立您專屬的網站，精美及可靠的動線設計，讓使用者輕鬆體驗您提供的一切。
					.service.col-md-3
						.thumb(style='background-image: url(images/features/2.svg)')
						h4.title App 應用設計
						p.descript 專注在移動端的設計體驗，美學及使用者經驗都是我們設計的初衷。
					.service.col-md-3
						.thumb(style='background-image: url(images/features/3.svg)')
						h4.title 產品雛形快速開發
						p.descript 利用最小可行性產品快速驗證你的想法，我們能夠迅速的開發極為擬真的產品雛形。
					.service.col-md-3
						.thumb(style='background-image: url(images/features/4.svg)')
						h4.title 產品體驗優化諮詢
						p.descript 針對產品概念與介面設計，提供諮詢的服務，力求找出更好的流程與想法。



	#showcases
		.feature-section.dark
			.container.feature-content.row
				h2 設計案例
				p 我們對於每一項作品，都盡全力去執行，並且將做到最高品質。
				.row.gallery
					.row.clear
						.col-md-3(ng-repeat='porfolio in porfolios', ng-class="{'small': isSmall}")
							a(ng-click='openPlayer(porfolio, $index)')
								.project
									.thumb(style='background-image: url({{porfolio.cover.url}})')
									.title {{porfolio.title}}
					a.button.button-outline.button-white.rounded(href='https://www.behance.net/og-design', target='_blank') 查看更多

	#testimonials
		.feature-section.gray
			.container.feature-content.row
				h2 創業夥伴怎麼說
				p 與客戶團隊一起成長、進步，創造最好的產品體驗。
				.row
					.testimonial.col-md-3
						.message
							img.quote(src="images/quote.svg", alt="")
							.text 奧革設計在使用者體驗與介面設計上非常用心與專業，是產品開發不可缺少的合作夥伴。 
						.profile
							.thumb(style="background-image: url(images/recommenders/felix.jpg)")
							a.name(href="https://www.facebook.com/felix.pei", target="_blank") Felix Pei
							.company CUPOY 創辦人
					.testimonial.col-md-3
						.message
							img.quote(src="images/quote.svg", alt="")
							.text 奧革設計帶領著合作夥伴了解 UI/UX 的專業設計，為開創最好的產品體驗一起努力！
						.profile
							.thumb(style="background-image: url(images/recommenders/tony.jpg)")
							a.name(href="https://www.facebook.com/poor1113", target="_blank") Tony Hsieh
							.company 吉寶知識系統 執行長
					.testimonial.col-md-3
						.message
							img.quote(src="images/quote.svg", alt="")
							.text 非常專業的設計公司，設身處地的打造良好的產品體驗，並給我們很多寶貴的建議！
						.profile
							.thumb(style="background-image: url(images/recommenders/呂宜穎.jpg)")
							a.name(href="https://www.facebook.com/luiying", target="_blank") 呂宜穎
							.company 台灣智慧觀光 產品經理
					.testimonial.col-md-3
						.message
							img.quote(src="images/quote.svg", alt="")
							.text UI/UX 的專業設計讓我們印象深刻，深入使用者行為分析，更兼顧美觀與實用，是個不可多得的好夥伴！
						.profile
							.thumb(style="background-image: url(images/recommenders/will.jpg)")
							a.name(href="https://www.facebook.com/Will.Huang.TW", target="_blank") Will 保哥
							.company 多奇數位 創辦人



	#contact(ng-controller="ContactController")
		.feature-section.light-dark.contact-section(style='background-image:url(images/background.png)')
			.container.feature-content.row
				h2 與我們聊聊
				p 需要產品設計上的幫助嗎？<br>我們期待與您聊聊彼此的想法！
				.row
					.col-md-6.col-md-push-1
						.contact-form
							.success-message
								img(src='images/success.svg')
								h4.message-title 感謝您的來信
								p.message-content 我們會在 48 小時內主動與您聯繫，謝謝。
							.contact-form-content
								.row
									.col-md-6
										label(for='') 稱呼
										input#name(maxlength='40', name='first_name', size='20', type='text', placeholder='', required='')                    
									.col-md-6
										label(for='') 信箱
										input#email(maxlength='80', name='email', size='20', type='text', placeholder='service@ogdesign.tw', required='')
								.row
									.col-md-12
										label(for='') 告訴我們您的需求
										textarea#message(name='message', rows='4', type='text', wrap='soft', placeholder='', required='')
										button#submit-contact.button.large.rounded.primary.right(type='submit', name='submit', value='提交內容') 提交內容
										button#submitting-contact.button.large.rounded.primary.right.hide(value='提交內容')
											i.icon-spin5.animate-spin 
											正在提交
					.col-md-4.col-md-push-1
						.contact-info
							.info-title 直接與我們聯繫
							.info-section
								.info-item 電話 : 0927-598-161
								.info-item 信箱 : 
									a(href="mailto:augus@ogdesign", target="_blank") augus@ogdesign.tw
								.info-item 地址 :
									a(href="https://goo.gl/maps/onVLLLtmquj", target="_blank") 新北市三重區正義北路215號2樓
								.info-item 粉絲團 : 
									a(href="https://www.facebook.com/ogdesign.tw/", target="_blank") facebook.com/ogdesign.tw/
								.info-item 服務時間 : 週一 ~ 周五 上午10:00 ~ 下午9:00

							.fb-like(data-href="https://www.facebook.com/ogdesign.tw", data-layout="standard", data-action="like", data-show-faces="true", data-share="true", data-width="300", data-colorscheme="light")


	
	.close-btn(ng-hide="!isOpenPlayer", ng-click="closePlayer()") ✕
	.next-btn(ng-hide="!isOpenPlayer", ng-click="next()") ›
	.prev-btn(ng-hide="!isOpenPlayer", ng-click="prev()") ‹
	#player.player(ng-class="{'open': isOpenPlayer}", ng-click="closePlayer()")
		.content(ng-show="current == porfolio", ng-repeat="porfolio in porfolios", ng-click="$event.stopPropagation()", ng-class="{'small': isSmall}")
			.spinner
				.double-bounce1
				.double-bounce2
			img(ng-if="current == porfolio", ng-src="{{porfolio.full.url}}", ng-class="{'show': porfolio.full && isOpenPlayer}")
		.others(ng-click="$event.stopPropagation()")
			.gallery
				.row
					.col-md-3(ng-repeat="porfolio in porfolios"): a(ng-click="openPlayer(porfolio, $index)")
						.project(ng-class="{'active': current == porfolio}")
							.thumb(style="background-image: url({{porfolio.cover.url}})")
							.title {{porfolio.title}}



//-         <div class="gallery">
//-             <div class="row clear">
//-                 <div class="col col-3" ng-repeat="porfolio in porfolios">
//-                     <a ng-click="openPlayer(porfolio, $index)">
//-                         <div class="project" ng-class="{'active': current == porfolio}">
//-                             <div class="thumb" style="background-image: url(images/portfolio/{{porfolio.thumbnail}})">
//-                             </div>
//-                             <div class="title">{{porfolio.name}}</div>
//-                         </div>
//-                     </a>
//-                 </div>
//-             </div>
//-         </div>
//-     </div>
//- </div>


block js
	script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js')
	script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js')
	script(src='/js/angular-google-analytics.min.js')
	script(src='/js/mousetrap.js')
	script(src='/js/wMousetrap.js')
	script(src='/js/is.min.js')
	script(src="/js/jquery.scrolldepth.min.js")
	script(src="/js/landinga.js")
	script.
		window.fbAsyncInit = function() {
			FB.init({
				appId				:'YOUR_APP_ID', // App ID
				channelUrl	: '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
				status			: true, // check login status
				cookies			: true, // enable cookies to allow the server to access the session
				xfbml				: true  // parse XFBML
			});
		};
		// Load the SDK Asynchronously
		(function(d){
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document));