// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;
$main-color: #55b3ad;
// $main-color: #00af4c;
$blue-color: #5ac6e6;
$green-color: #c9db1f;
$dark-color: #111D2D;
$gray-color: #595758;