@mixin button-hover-style($name, $bg-color, $border-color, $color) {
    @if $name != "" {
        &.button-hover-#{$name} {
            &:hover, &:active {
                text-decoration: none;
                background-color: $bg-color;
                border-color: $border-color;
                color: $color;
            }
        }
    }
    @else {
        &:hover, &:active {
            text-decoration: none;
            background-color: $bg-color;
            border-color: $border-color;
            color: $color;
        }
    }
}

// 按鈕樣式
// -------------------------------
@mixin button-style($bg-color, $border-color, $active-bg-color, $active-border-color, $color) {
    background-color: $bg-color;
    border-color: $border-color;
    color: $color;
    &:hover, &:active {
        text-decoration: none;
        background-color: $active-bg-color;
        border-color: $active-border-color;
        color: $color;
    }
}

// 僅有框線的Button
// -------------------------------
@mixin button-ghost($color, $text-color: "") {
    &.button-ghost {
        border-width: 1px;
        border-color: $color;
        background: transparent;
        @if $text-color == "" {
            $text-color: $color;
        }
        color: $text-color;
        // &:hover, &:active {
        //     background: transparent;
        //     box-shadow: none;
        //     color: $text-color;
        // }
    }
}

.button {
    padding: 0 15px;
    display: inline-block;
    vertical-align: middle;
    min-width: 60px;
    height: 44px;
    line-height: 44px;
    box-sizing: content-box;
    border: 1px solid $primary-color;
    cursor: pointer;
    transition-property: all;
    @include button-style($primary-color, $primary-color, darken($primary-color, 10%), darken($primary-color, 10%), white);
    @include button-ghost(#777, #777);
    @extend .fontSize-s;
    @extend .borderRadius-s;
    @extend .textAlign-center;
    @extend .marginRight-xs;
    @extend .marginBottom-xs;
    @extend .transitionDuration-l;
    @extend .transitionTimingFunction-cb--scaleOut;
    // @include button-hover-style("", transparent, $black-color, $black-color);
    
    &.button-grey {
        @include button-style($slate-color, $slate-color, darken($slate-color, 10%), darken($slate-color, 10%), white);
        @include button-ghost($slate-color, $slate-color);
    }
    &.button-white {
        @include button-style(white, white, darken(white, 5%), darken(white, 5%), #333333);
        @include button-ghost(white, white);
    }
    &.button-orange {
        @include button-style($primary-color, $primary-color, lighten($primary-color, 5%), lighten($primary-color, 5%), white);
        @include button-ghost($primary-color, $primary-color);
    }
    &.button-primary {
        @include button-style($primary-color, $primary-color, darken($primary-color, 5%), darken($primary-color, 5%), white);
        @include button-ghost($primary-color, $primary-color);
    }
    &.button-secondary {
        @include button-style($secondary-color, $secondary-color, darken($secondary-color, 5%), darken($secondary-color, 5%), white);
        @include button-ghost($secondary-color, $secondary-color);
    }
    &.button-third {
        @include button-style($third-color, $third-color, darken($third-color, 5%), darken($third-color, 5%), white);
        @include button-ghost($third-color, $third-color);
    }
    &.button-positive {
        @include button-style($ui-positive-color, $ui-positive-color, darken($ui-positive-color, 5%), darken($ui-positive-color, 5%), white);
        @include button-ghost($ui-positive-color, $ui-positive-color);
    }
    &.button-negative {
        @include button-style($ui-negative-color, $ui-negative-color, darken($ui-negative-color, 5%), darken($ui-negative-color, 5%), white);
        @include button-ghost($ui-negative-color, $ui-negative-color);
    }
    &.button-warning {
        @include button-style($ui-warning-color, $ui-warning-color, darken($ui-warning-color, 5%), darken($ui-warning-color, 5%), white);
        @include button-ghost($ui-warning-color, $ui-warning-color);
    }
    &.button-facebook {
        @include button-style(#4080FF, #4080FF, darken(#4080FF, 5%), darken(#4080FF, 5%), white);
        @include button-ghost(#4080FF, #4080FF);
    }
    &.button-twitter {
        @include button-style(#1DA1F2, #1DA1F2, darken(#1DA1F2, 5%), darken(#1DA1F2, 5%), white);
        @include button-ghost(#1DA1F2, #1DA1F2);
    }
    &.button-ligth-gray {
        @include button-style(#707F97, #707F97, darken(#707F97, 10%), darken(#707F97, 10%), white);
        @include button-ghost(#707F97, #707F97);
    }
    &.button-disabled {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
    }
    &.button-block {
        display: block;
        text-align: center;
    }

    &.button-xs {
        padding: 0 5px;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
    }
    &.button-s {
        padding: 0 10px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }
    &.button-m {
        height: 44px;
        line-height: 44px;
        padding: 0 15px;
    }
    &.button-l {
        height: 48px;
        line-height: 48px;
        padding: 0 20px;
        font-size: 16px;
    }
    &.button-xl {
        padding: 0 40px;
        font-size: 16px;
        height: 56px;
        line-height: 56px;
    }
    &.button-rounded {
        //@include border-radius(50px);
        border-radius:50px;
    }
    
    i {
        vertical-align: middle;
    }

    // 有圖示的按鈕
    &.icon-left {
        i {
            margin-right: 10px;
        }
    }
    &.icon-right {
        i {
            margin-left: 10px;
        }
    }
    @include button-hover-style("grey", $slate-color, $slate-color, #fff);
    @include button-hover-style("primary", $primary-color, $primary-color, #fff);
    @include button-hover-style("secondary", $secondary-color, $secondary-color, #fff);
    @include button-hover-style("third", $third-color, $third-color, #fff);
    @include button-hover-style("positive", $ui-positive-color, $ui-positive-color, #fff);
    @include button-hover-style("negative", $ui-negative-color, $ui-negative-color, #fff);
    @include button-hover-style("warning", $ui-warning-color, $ui-warning-color, #fff);
}

// 群組按鈕
// -------------------------------
.button-group {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid $smoke-color;
    overflow: hidden;
    @extend .borderRadius-m;
    @extend .marginRight-xs;
    @extend .marginBottom-xs;
    .button {
        float: left;
        border: none;
        box-shadow: -1px 0 0 $smoke-color inset;
        @extend .borderRadius-0;
        @extend .textColor-slate;
        @extend .bgColor-white;
        @extend .margin-0;
        &:last-child {
            box-shadow: 0 0 0 $smoke-color inset;
        }
    }
}

