// ------------------------------------------
// 顏色定義
// ------------------------------------------

// 品牌主色系
$primary-color: #59C6E5;
$primary-dark-color: darken($primary-color, 10%);
$primary-light-color: lighten($primary-color, 10%);

// 品牌輔助色
$secondary-color: #B9C935;
$secondary-dark-color: darken($secondary-color, 10%);
$secondary-light-color: lighten($secondary-color, 10%);

// 品牌輔助色2
$third-color: #4CA950;
$third-dark-color: darken($third-color, 10%);
$third-light-color: lighten($third-color, 10%);


// 灰色

$grey-900: #1A1C27;
$grey-800: lighten($grey-900, 10%);
$grey-700: lighten($grey-900, 20%);
$grey-600: lighten($grey-900, 30%);
$grey-500: lighten($grey-900, 40%);
$grey-400: lighten($grey-900, 50%);
$grey-300: lighten($grey-900, 60%);
$grey-200: lighten($grey-900, 70%);
$grey-100: lighten($grey-900, 80%);

.bgColor-grey-900 { background-color: $grey-900; };
.bgColor-grey-800 { background-color: $grey-800; };
.bgColor-grey-700 { background-color: $grey-700; };
.bgColor-grey-600 { background-color: $grey-600; };
.bgColor-grey-500 { background-color: $grey-500; };
.bgColor-grey-400 { background-color: $grey-400; };
.bgColor-grey-300 { background-color: $grey-300; };
.bgColor-grey-200 { background-color: $grey-200; };
.bgColor-grey-100 { background-color: $grey-100; };

.textColor-grey-900 { color: $grey-900; };
.textColor-grey-800 { color: $grey-800; };
.textColor-grey-700 { color: $grey-700; };
.textColor-grey-600 { color: $grey-600; };
.textColor-grey-500 { color: $grey-500; };
.textColor-grey-400 { color: $grey-400; };
.textColor-grey-300 { color: $grey-300; };
.textColor-grey-200 { color: $grey-200; };
.textColor-grey-100 { color: $grey-100; };

$black-color: #1A1C27;
$steel-color: #43484D;
$slate-color: #5F6068;
$sliver-color: #86878D;
$smoke-color: #DDDDDD;
$smoke-dark-color: darken($smoke-color, 5%);
$smoke-extra-dark-color: darken($smoke-color, 10%);
$snow-color: #F6F6F8;
$snow-dark-color: darken($snow-color, 5%);
$snow-extra-dark-color: darken($snow-color, 10%);

// 介面顏色
$ui-primary-color: $primary-color;
$ui-positive-color: #4CA950;
$ui-negative-color: #E56B6B;
$ui-warning-color: #F4C749;


// ------------------------------------------
// 背景顏色
// ------------------------------------------

.bgColor-transparent {
	background-color: transparent;
}
.bgColor-white {
	background-color: #fff;
}
.bgColor-primary {
	background-color: $primary-color;
}
.bgColor-primary-dark {
	background-color: $primary-dark-color;
}
.bgColor-primary-light {
	background-color: $primary-light-color;
}

.bgColor-secondary {
	background-color: $secondary-color;
}
.bgColor-secondary-dark {
	background-color: $secondary-dark-color;
}
.bgColor-secondary-light {
	background-color: $secondary-light-color;
}

.bgColor-third {
	background-color: $third-color;
}
.bgColor-third-dark {
	background-color: $third-dark-color;
}
.bgColor-third-light {
	background-color: $third-light-color;
}

.bgColor-black {
	background-color: $black-color;
}
.bgColor-steel {
	background-color: $steel-color;
}
.bgColor-slate {
	background-color: $slate-color;
}
.bgColor-sliver {
	background-color: $sliver-color;
}
.bgColor-smoke {
	background-color: $smoke-color;
}
.bgColor-smoke-dark {
	background-color: $smoke-dark-color;
}
.bgColor-smoke-extra-dark {
	background-color: $smoke-extra-dark-color;
}
.bgColor-snow {
	background-color: $snow-color;
}
.bgColor-snow-dark {
	background-color: $snow-dark-color;
}
.bgColor-snow-extra-dark {
	background-color: $snow-extra-dark-color;
}

.bgColor-ui-primary {
	background-color: $ui-primary-color;
}
.bgColor-ui-positive {
	background-color: $ui-positive-color;
}
.bgColor-ui-negative {
	background-color: $ui-negative-color;
}
.bgColor-ui-warning {
	background-color: $ui-warning-color;
}

// ------------------------------------------
// 文字顏色
// ------------------------------------------
.textColor-white {
	color: #fff;
}

.textColor-primary {
	color: $primary-color;
}
.textColor-primary-dark {
	color: $primary-dark-color;
}
.textColor-primary-light {
	color: $primary-light-color;
}

.textColor-secondary {
	color: $secondary-color;
}
.textColor-secondary-dark {
	color: $secondary-dark-color;
}
.textColor-secondary-light {
	color: $secondary-light-color;
}

.textColor-third {
	color: $third-color;
}
.textColor-third-dark {
	color: $third-dark-color;
}
.textColor-third-light {
	color: $third-light-color;
}


.textColor-black {
	color: $black-color;
}
.textColor-steel {
	color: $steel-color;
}
.textColor-slate {
	color: $slate-color;
}
.textColor-sliver {
	color: $sliver-color;
}
.textColor-smoke {
	color: $smoke-color;
}
.textColor-smoke-dark {
	color: $smoke-dark-color;
}
.textColor-smoke-extra-dark {
	color: $smoke-extra-dark-color;
}
.textColor-snow {
	color: $snow-color;
}
.textColor-snow-dark {
	color: $snow-dark-color;
}
.textColor-snow-extra-dark {
	color: $snow-extra-dark-color;
}

.textColor-ui-primary {
	color: $ui-primary-color;
}
.textColor-ui-positive {
	color: $ui-positive-color;
}
.textColor-ui-negative {
	color: $ui-negative-color;
}
.textColor-ui-warning {
	color: $ui-warning-color;
}

